<div class="container-fluid home">
    <h1>Calculation</h1>
    <div class="row">
        <div class="col">
            <h3>Your settings</h3>
            <form [formGroup]="calculationForm" (ngSubmit)="calculateForm(calculationForm.value)">
                <div class="form-group">
                    <label for="calculationLong">For how many months should the calculation be made?</label>
                    <input type="number"
                           class="form-control"
                           id="calculationLong"
                           placeholder="6"
                           step="1"
                           min="1"
                           name="calculationLong"
                           formControlName="calculationLong">
                </div>
                <div class="form-group">
                    <label for="currentMoney">Give your current bank balance</label>
                    <input type="number"
                           class="form-control"
                           id="currentMoney"
                           placeholder="1500"
                           name="currentMoney"
                           formControlName="currentMoney">
                </div>
                <h3>Revenue</h3>
                <div formArrayName="revenue">
                    <div *ngFor="let revenueItem of calculationForm.get('revenue').controls; let i = index;">
                        <div [formGroupName]="i">
                            <strong>Revenue {{ i + 1 }}</strong>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label [for]="'revenueItemName' + i">Name</label>
                                        <input type="string"
                                               class="form-control"
                                               [id]="'revenueItemName' + i"
                                               placeholder="Please type name for revenue"
                                               [name]="'revenueItemName' + i"
                                               formControlName="name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label [for]="'revenueItemAmount' + i">Amount</label>
                                        <input type="number"
                                               class="form-control"
                                               [id]="'revenueItemAmount' + i"
                                               placeholder="0"
                                               [name]="'revenueItemAmount' + i"
                                               formControlName="amount">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                (click)="deleteRevenueItem(i)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button"
                                class="btn btn-primary"
                                (click)="addNewRevenueItem()">Add new renevue</button>
                    </div>
                </div>
                <hr>
                <h3>Outgoings</h3>
                <div formArrayName="outgoings">
                    <div *ngFor="let outgoingsItem of calculationForm.get('outgoings').controls; let j = index;">
                        <div [formGroupName]="j">
                            <strong>Output {{ j + 1 }}</strong>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label [for]="'outgoingsItemName' + j">Name</label>
                                        <input type="string"
                                               class="form-control"
                                               [id]="'outgoingsItemName' + j"
                                               placeholder="Please type name for output"
                                               [name]="'outgoingsItemName' + j"
                                               formControlName="name">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label [for]="'outgoingsItemAmount' + j">Amount</label>
                                        <input type="number"
                                               class="form-control"
                                               [id]="'outgoingsItemAmount' + j"
                                               placeholder="0"
                                               [name]="'outgoingsItemAmount' + j"
                                               formControlName="amount">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input type="checkbox"
                                               class="form-check-input"
                                               [id]="'outgoingsItemIsLimited' + j"
                                               [name]="'outgoingsItemIsLimited' + j"
                                               formControlName="isLimited">
                                        <label [for]="'outgoingsItemIsLimited' + j">Is limited?</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button type="button"
                                                class="btn btn-secondary"
                                                (click)="deleteOutgoingsItem(j)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button"
                                class="btn btn-primary"
                                (click)="addNewOutgoingsItem()">Add new output</button>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn btn-success">Calculate</button>
                    <button type="button"
                            class="btn btn-secondary">Clear inputs</button>
                </div>
            </form>
        </div>
        <div class="col">
            <ng-container *ngIf="result">
                <h3>Result</h3>
                <dl class="row">
                    <dt class="col-sm-3">Calculation for (in months):</dt>
                    <dd class="col-sm-9">{{ result.calculationLong }}</dd>
                    <dt class="col-sm-3">Your current bank balance:</dt>
                    <dd class="col-sm-9">{{ result.currentMoney }} €</dd>
                </dl>
                <strong>Revenue</strong>
                <dl class="row">
                    <ng-container *ngFor="let revenueItem of result.revenue;">
                        <dt class="col-sm-3">{{ revenueItem.name }}:</dt>
                        <dd class="col-sm-9">{{ revenueItem.amount }} €</dd>
                    </ng-container>
                    <hr>
                    <dt class="col-sm-3">Revenue (sum):</dt>
                    <dd class="col-sm-9">{{ revenueSum }} €</dd>
                </dl>
                <strong>Outgoings</strong>
                <dl class="row">
                    <ng-container *ngFor="let outgoingsItem of result.outgoings;">
                        <dt class="col-sm-3">{{ outgoingsItem.name }}:</dt>
                        <dd class="col-sm-9">{{ outgoingsItem.amount }} €</dd>
                    </ng-container>
                    <hr>
                    <dt class="col-sm-3">Outgoings (sum):</dt>
                    <dd class="col-sm-9">{{ outgoingsSum }} €</dd>
                </dl>
                <hr>
                <strong>End (sum)</strong>
                <dl class="row">
                    <dt class="col-sm-3">Your new bank balance:</dt>
                    <dd class="col-sm-9">{{ (result.currentMoney + (revenueSum - outgoingsSum)) | number:'.2-2' }} €</dd>
                </dl>
                <hr>
                <strong>Prognose for {{ result.calculationLong }} months</strong>
                <dl class="row">
                    <ng-container *ngFor="let resultItem of calculationPrognose; let i = index;">
                        <dt class="col-sm-3">Month {{ i + 1 }}</dt>
                        <dd class="col-sm-9">{{ resultItem | number:'.2-2' }} €</dd>
                    </ng-container>
                </dl>
            </ng-container>
        </div>
    </div>
</div>